li{
color:white;
}
h1{
font-size:30px;
font-style:italic;
color:white;
}
h3{
font-size:15px;
font-style:italic;
color:white;
}
#container {

width:auto;
height:auto;
margin-left:auto;
margin-right:auto;
text-transform:capitalize;
}

#sidebar{
background:#101000;
width:350px;
height:600px;
float:left;
text-align:justify;
}

#desc{
background:#110011;
width:900px;
height:600px;
text-align:justify;
float:left;
padding-left:10px;
padding-right:10px;
}

#footer {
width:1340px;
height:100px;
color:black;
background:teal;
padding-top:0px;
padding-bottom:0px;
text-align:justify;
}


